html, body {
    font-family:'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight:300;
  height:100%;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.navbar {
    margin-bottom: 0;
}

.input-group {
    margin:10px;
}

#map-canvas {
    min-height:95%;
}