html, body {
	font-family:'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight:300;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
